<% cache("cached_view_key", expires_in: 15.minutes) do %>
  <%= render partial: 'stylesheet' %>
  <%= render partial: 'styles' %>
  <main>
    <div class="page-wrapper">
      <div class="previous-picks-page">
        <div class="previous-picks-table">
          <h1 class="page-title">Previous Picks</h1>
          <%= render partial: 'all_picks_table' %>
        </div>
      </div>
    </div>
  </main>
<% end %>