<main>
  <div class="page-wrapper">
    <%= render partial: 'title_text' %>
    <%= render partial: 'user_dropdown' %>

    <div class="seasons-page"> 
      <%= render partial: 'standings' %>
      <%= render partial: 'schedule' %>
  </div>
<main>