<div class="div-4 flex">
  <div class="flex-shrink-0 mr-4">
    <div class="font-bold text-blue-700 hover:underline hover:text-red-700">
      <%= link_to 'Edit', edit_season_path(@season) %>
    </div>
  </div>
  <div>
    <div class="font-bold text-blue-700 hover:underline hover:text-red-700">
      <%= link_to 'Back', seasons_path %>
    </div>
  </div>
</div>