<div class="seasons-wrapper">
  <!-- <%= render partial: 'season_buttons'%> -->
  <%= render partial: 'driver_standings_table' %>
  <br><br>
  <%= render partial: 'constructor_standings_table' %>
</div>