<div id="all_users" class="user-wrapper"> <!-- This starts the user column -->
  <%= form_tag(season_path(@season), method: :get) do %>
    <% users_without_guest = @users.reject { |user| user.username == 'guest' } %>
    <%= select_tag 'username', options_from_collection_for_select(users_without_guest, 'username', 'name', @user.try(:username)), prompt: "Select a user" %>
    <%= submit_tag 'Go', class: 'go-button' %>
  <% end %>

  <% if @season.season_year.to_i == Time.now.year %>
    <%= link_to 'New User', new_user_path(season_id: @season.id), params: {season_id: @season.id}, class: "new-user-button" %>
  <% end %>
</div> <!-- This ends the user-wrapper -->