<main>
  <div id="season_wrapper" class="page-wrapper">
    <h1 id="app_name" class="title">P10 Racing</h1>
    <div id="select_season" class="season-wrapper">
      <%= render partial: 'select_season' %>
    </div>
  </div>
<main>