<div class="driver-standing-table">
        <% points_earned_by_driver = {} %>
        <% @drivers.each do |driver| %>
          <% points_earned_by_driver[driver.driver_id] = UserPick.where(driver_id_tenth: driver.driver_id).sum { |pick| pick.points_earned } %>
        <% end %>
        <% @drivers.sort_by! { |driver| -points_earned_by_driver[driver.driver_id]} %>

        <table class="">
          <thead class="">
            <tr>
              <th class="py-2 center-header">Position</th>
              <td class="py-2 center-header">Driver</th>
              <td class="py-2 center-header">Points earned when picked</th>
            </tr>
          </thead>
          <tbody>
          <% @position = 1 %>
            <% @drivers.each do |driver| %>
              <tr class="">
                <th class="py-2 center-header"><%= @position %></td>
                <td class="py-2 center-header"><%= driver.name %></td>
                <td class="py-2 center-header"><%= points_earned_by_driver[driver.driver_id] %> </td>
                <% @position += 1 %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- this ends the driver p10 points table -->