<main>
  <div class="page-wrapper">
    <%= render partial: 'page_title' %>
    <div class="leaderboard-wrapper"> <!-- This is the start of the leaderboard row -->
      <%= render partial: 'player_leaderboard' %>
      <%= render partial: 'driver_leaderboard' %> 
    </div> <!-- this ends the leaderboard row -->
  </div>
</main>