<div class="box">
  <p>
    <strong>User:</strong>
    <%= @user_pick.user.name %>
  </p>

  <p>
    <strong>Race Name:</strong>
    <%= @user_pick.race_name %>
  </p>

  <p>
    <strong>10th Driver:</strong>
    <%= @user_pick.driver_id %>
  </p>

  <p>
    <strong>DNF Driver:</strong>
    <%= @user_pick.dnf_name %>
  </p>
</div>