<%= stylesheet_link_tag 'new_pick', media: 'all', 'data-turbolinks-track': 'reload' %>
<main>
  <div class="page-wrapper">
    <div class-"form-wrapper">
      <h1 class="title">New User Pick</h1>
        <div class="box">
          <%= render 'form', user_pick: @user_pick %>

          <%= link_to 'Back', user_picks_path, class: "back-button" %>
      </div>
    </div>
  </div>
<main>
