<% cache("cached_view_key", expires_in: 15.minutes) do %>
  <%= render partial: 'stylesheet_show' %>
  <main>
    <p id="notice"><%= notice %></p>

    <% @user_pick.purify_single_pick %>
      <div class="page-wrapper">
        <div class-"form-wrapper">
          <h1 class="title">Your Race Pick</h1>
          <%= render partial: 'race_pick_box' %>
          <!-- <%= render partial: 'buttons_and_links' %> -->
          </div>
      </div>
  </main>
<% end %>