<p id="notice"><%= notice %></p>
<div class="flex flex-row"> <!-- This starts the user show page row -->
  <div class="flex flex-col"> <!-- This starts the user scoring column -->
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Total points:</strong>
      <%= @user.total_points %>
    </p>

    <p> button to view previous picks table </p>
  </div> <!-- This ends the user scoring column -->
</div> <!-- This ends the user show page row -->
