.title {
  font-weight: 800;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.season-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
display: flex;
align-items: center;
flex-direction: column;
}

.label {
  color: white;
  font-size: 2.5rem;
}

.select {
  border-radius: 5px;
  width: 8.85rem;
  appearance: none;
  height: 1.5rem;
  width: 10rem;
  margin-top: .5rem;
  text-align: center;
}

.submit, .new-season {
  border: 1px solid #565F64;
  padding:0 .75rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px #757677;
  cursor: pointer;
  margin-top: .5rem;
  width: fit-content;
  text-align: center;
}

.submit {
  margin-top: 1.5rem;
}

.submit:hover, .new-season:hover {
  background-color: #00A19B;
}

main {
  background-image: url("f1-logo-big.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.page-wrapper {
  background: linear-gradient(rgba(255, 255, 255, 0.38) 0%, rgba(0, 0, 0, 0.314) 75%);
  backdrop-filter: blur(10px);
}

$tablet: 768px;
@media only screen and (max-width: $tablet) {
  .title {
    visibility: hidden;
  }

  .season-wrapper {
    align-items: center;
  }

  main {
    background-position: center;
  }

    .label {
      font-size: 3.5rem;
    }
    
    .select {
      border-radius: 5px;
      font-size: 2rem;
      appearance: none;
      height: 4.5rem;
      width: 16rem;
      margin-top: .5rem;
    }
    
    .submit, .new-season {
      border: 1px solid #565F64;
      padding: 0 .75rem;
      height: 4.5rem;
      border-radius: 5px;
      background-color: white;
      box-shadow: 2px 2px 2px #757677;
      cursor: pointer;
      margin-top: 1.5rem;
      text-align: center;
      font-size: 2rem;
    }
    
    .submit {
      margin-top: 1.5rem;
      width: 11rem;
    }

    .new-season {
      width: 18rem;
    }


}