// ml-auto text-sm font-bold text-center border-2 border-red-700 rounded shadow-md fold-bold sm:w-40 text-red-700 hover:bg-red-700 hover:text-white
// ml-4 text-sm font-bold text-center border-2 bg-red-700 rounded shadow-md fold-bold sm:w-40 text-white hover:bg-white hover:text-red-700

.header-button, .middle-header-button {
  font-weight: 700;
  border: 2px solid #00A19B;
  border-radius: 5px;
  height: 1.5rem;
  width: 8rem;
  font-size: .8rem;
  margin-left: .5rem;
  cursor: pointer;
}

.header-button {
  color: #00A19B;
}

.middle-header-button {
  color: white;
  background-color: #00A19B;
}

.header-button:hover {
  background-color: #00A19B;
  color: white;
}

.middle-header-button:hover {
  background-color: white;
  color: #00A19B;
}

.welcome-message {
  font-weight: 700;
}

// hamburger menu styling
.header {
  border-bottom: 1px solid #E2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$largeDesktop: 1200px;

@media only screen and (max-width: $tablet) {
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
    background-color: rgba(255, 255, 255, 0.496);
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logo {
    width: 14rem;
    height: 3rem;
  }
}