main {
  background-image: url("f1-logo-big.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.page-wrapper {
  background: linear-gradient(rgba(255, 255, 255, 0.38) 0%, rgba(0, 0, 0, 0.314) 75%);
  backdrop-filter: blur(10px);
}

.title {
  font-weight: 800;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.leaderboard-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100vh;
}

.user-standings-table, .driver-standing-table {
  width: 35%;
  font-size: 1rem;
  color: black;
  border-collapse: collapse;
  box-shadow: 3px 3px 3px 3px rgba(60, 20, 20, 0.165);
  border-spacing: 1.25rem 1.25rem;
  text-align: center;
  height: fit-content;
  border-radius: 8px;
  border: 2px solid #565F64;
}

.driver-standing-table {
  max-height: 40rem;
  overflow-y: auto;
}

.driver-standing-table::-webkit-scrollbar {
  width: 0.1em;
}

.driver-standing-table::-webkit-scrollbar-track {
  background-color: transparent;
}

.driver-standing-table::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
}

table {
  width: 100%;
  font-size: 1rem;
  color: black;
  padding-top: 1rem;
  border-collapse: collapse;
  box-shadow: 3px 3px 3px 3px rgba(60, 20, 20, 0.165);
  border-spacing: 1.25rem 1.25rem;
}

table td:hover {
  background-color: #00A19B;
  color: white;
  font-weight: 600;
}

thead {
  background-color: #565F64;
  color: white;
  padding: 4px, 0, 0, 4px;
  text-transform: uppercase;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #C8CCCE;
}

tbody th {
  background-color: #565F64;
  color: #fff;
  text-align: center;
}

tr {
  padding: 10rem, 0;
}

tbody tr:nth-child(odd) th {
  background-color: #C8CCCE;
  color: #fff;
  text-align: center;
}

// $breakpoint-mobile: 430px;
// @media (min-width: $breakpoint-mobile) {
//   main {
//     background-position: center;
//   }

//   .leaderboard-wrapper {
//     flex-direction: column;
//     justify-content:center;
//     align-items: center;
//     margin: 1.5rem 1.5rem 0 1.5rem;
//   }

//   table {
//     font-size: 2rem;
//   }

//   .user-standings-table, .driver-standing-table {
//     width: 100%;
//     font-size: 2rem;
//     color: black;
//     height: fit-content;
//     margin: 5rem;
//   }

// }