// Place all the styles related to the Seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//RGB: (255, 24, 1)

main {
  background-image: url("f1-logo-big.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.page-wrapper {
  background: linear-gradient(rgba(255, 255, 255, 0.38) 0%, rgba(0, 0, 0, 0.314) 75%);
  backdrop-filter: blur(10px);
}

.seasons-page {
  display: flex;
  justify-content: space-evenly;
  height:100vh;
}

.seasons-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.text-wrapper {
  text-align: center;
}

.seasons-title {
  font-weight: 800;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.season-year {
  font-size: 1.5rem;
  font-weight: bold;
}

.schedule-wrapper {
  display: flex;
  flex-direction: column;
}

.box {
  border-radius: 8px;
  border: 2px solid #565F64;
  padding: 1rem;
  background-color: #C8CCCE;
}

.driver-table {
  max-height: 40rem;
  overflow-y: auto;
}

.driver-table::-webkit-scrollbar {
  width: 0.1em;
}

.driver-table::-webkit-scrollbar-track {
  background-color: transparent;
}

.driver-table::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
}

.driver-table {
  margin-right: 7.5rem;
}

table {
  width: 100%;
  font-size: 1rem;
  color: black;
  padding-top: 1rem;
  border-collapse: collapse;
  box-shadow: 3px 3px 3px 3px rgba(60, 20, 20, 0.165);
  border-spacing: 1.25rem 1.25rem;
}

table td:hover {
  background-color: #00A19B;
  color: white;
  font-weight: 600;
}

thead {
  background-color: #565F64;
  color: white;
  padding: 4px, 0, 0, 4px;
  text-transform: uppercase;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #C8CCCE;
}

tbody th {
  background-color: #565F64;
  color: #fff;
  text-align: center;
}

tbody tr:nth-child(odd) th {
  background-color: #C8CCCE;
  color: #fff;
  text-align: center;
}


.constructor-table, .driver-table {
  background-color: white;
  border-radius: 8px;
  border: 2px solid #565F64;
}

.driver-table-wrapper {
  margin-right: 3rem;
}

.user-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.dropdown {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 1rem;
}


.go-button, .new-user-button, .name-button {
  border: 1px solid #565F64;
  padding:0 .75rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px #757677;
  cursor: pointer;
}

.new-user-button {
  margin-top: .5rem;
}

.name-button {
  margin-right: .5rem;
}

.go-button:hover, .new-user-button:hover, .name-button:hover {
  background-color: #00A19B;
}

select {
  border-radius: 5px;
  width: 8.85rem;
  border: 1px solid #565F64;
}

$breakpoint-mobile: 430px;
@media (min-width: $breakpoint-mobile) {

  main {
    background-position: center;
  }
  
 .seasons-wrapper {
  flex-direction: column;
  padding: none;
 } 

 .seasons-page {
  flex-direction: column-reverse;
  margin: 1.5rem 1.5rem 0 1.5rem;
 }

 .schedule-wrapper {
  max-height: fit-content;
 }

 .driver-table-wrapper, .driver-table {
  margin: 0;
 }

 table {
  width: 100%;
  font-size: 2rem;
  color: black;
  padding-top: 1rem;
  border-collapse: collapse;
  box-shadow: 3px 3px 3px 3px rgba(60, 20, 20, 0.165);
  border-spacing: 1.25rem 1.25rem;
}
}

