main {
  background-image: url("f1-logo-big.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100vh;
}

.page-wrapper {
  background: linear-gradient(rgba(255, 255, 255, 0.38) 0%, rgba(0, 0, 0, 0.314) 75%);
  backdrop-filter: blur(10px);
  min-height: 100vh;
}

.image-button {
 height: 1.5rem; 
 margin-right: .25rem;
}

.title {
  font-weight: 800;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.scroll-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-picks-wrapper {
  overflow-y: auto;
  max-width:45%;
  height: 40rem;
}

.user-picks {
  min-height: fit-content;
  max-width: 100%;
  font-size: 1rem;
  color: black;
  border-collapse: collapse;
  box-shadow: 3px 3px 3px 3px rgba(60, 20, 20, 0.165);
  border-spacing: 1.25rem 1.25rem;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #565F64;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
}

.user-picks-wrapper::-webkit-scrollbar {
  width: 0.1em;
}

.user-picks-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.user-picks-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.124);
}

table td:hover {
  background-color: #00A19B;
  color: white;
  font-weight: 600;
}

thead {
  background-color: #565F64;
  color: white;
  padding: 4px, 0, 0, 4px;
  text-transform: uppercase;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #C8CCCE;
}

tbody th {
  background-color: #565F64;
  color: #fff;
  text-align: center;
}

tr {
  padding: 10rem, 0;
}

tbody tr:nth-child(odd) th {
  background-color: #C8CCCE;
  color: #fff;
  text-align: center;
}

.sort-text {
  color:white;
  font-weight: 700;
  font-size: .75rem;
  margin-bottom: .5rem;
}

.button {
  border: 1px solid #565F64;
  padding:0 .75rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px #757677;
  cursor: pointer;
  margin-top: .5rem;
  width: fit-content;
  text-align: center;
}

.button:hover {
  background-color: #00A19B;
}

$breakpoint-mobile: 430px;
@media (min-width: $breakpoint-mobile) {
  main {
    background-position: center;
  }

  .user-picks-wrapper {
    max-width: 100%;
    font-size: 2rem;
    color: black;
    height: 90rem;
  }

  .user-picks {
    font-size: 2rem;
    margin: 1.5rem;
  }

  .image-button {
    height: 9rem; 
    margin-right: .25rem;
   }

}